<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head', {
		title : 'Perfil de usuario'
	}) %>
	
	<body>
		<%- include('./partials/header') %>
	<h1>Perfil de usuario</h1>
	<img src="/images/node.jpg" width="60%">
</body>
</html>